.carousel{
    overflow: hidden;
}

.inner{
    white-space: nowrap;
    transition: transform 0.3s;
}

.carouselItem{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: white;
    color: black;
}

.indicators{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.arrow{
    position: relative;
    font-size: 20px;
    color: black;
    cursor: pointer;
    user-select: none;
}