
.gob{
    background-color: #0B231E;
    height: 50px;
    padding-left: 75px;
    text-align: left;
}
.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    gap: 50px;
    justify-content: center;
    position: relative;
    background-color: white;
}